#logs {
  margin: 0;
  padding: 0;
  margin-top: 170px;
  width: 100%;
}

.log {
  .level {
    background-color: #444;
    color: white;
    width: 120px;
    padding: 5px;
    vertical-align: top;
  }

  .message {
    padding: 5px 10px;
  }

  .file {
    width: 15px;
    padding: 5px;
    vertical-align: top;
  }

  .file > div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid white;
  }
}
